<div class="alert alert-block alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Atenção!</strong> <br/><br/>Você precisa fazer o login no sistema <strong>através de sua conta no Facebook.</strong>
</div>

<div class="page-header">
  <h1>
		Agregador de RSS<br/>
		<small>Grupo: Allyson Barros / Daniele Montenegro / Raimar Lima</small>
	</h1>
</div>

<h3>Projeto da disciplina de Tecnologias Web</h3>

<h5>Tecnologias Utilizadas</h5>
<ul>
	<li>Ruby 1.9.2</li>
	<li>Ruby on Rails 3.2.8</li>
	<li>SQLite 3</li>
	<li>Jquery</li>
	<li>Twitter Bootstrap</li>
</ul>